.controlStack {
  display: flex;
  margin: 20px;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.envelopeStack {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  /* align-items: center; */
}

.play {
  padding: 10px 60px;
  display: flex;
  background-color: white;
  align-items: flex-start;
  border-radius: 10px;
  margin: 40px;
  display: inline;
  width: 150px;
}

.mb-2 {
  display: flex;
  margin: 30px;
  border-radius: 10px;
}
